.box{
    width: 100px;
    height: 100px;
    border-radius: 4%;
    padding: 8px;
    border: 1px solid rgba(170, 170, 170, 0.74);
    box-shadow: 2px 4px 4px gray;
}
img{
    width: 100%;
    height: 100%;
    flex:1;
}